.profile-details-container {
  width: 80%;
  max-width: 1000px;
  height: 600px;
  //margin: 0 20px 0 20px;
  background-color: white;
  z-index: 200;
  overflow: auto;
  display: flex;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  .profile-details-container {
    width: 100%;
    justify-content: center;
  }
}
