.post-stats {
  //background-color: palegreen;
  border-bottom: 1px solid lightgray;
  height: 90px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .like-btn {
    //background-color: orchid;
    height: 32px;
    display: flex;
    align-items: center;

    .heart {
      &:hover {
        cursor: pointer;
      }
    }

    .red-heart {
      color: #fb3958;
    }

    .fa-spinner {
      animation: spin 2s linear infinite;
      font-size: 21px;

      &:hover {
        cursor: default;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .likes-count {
    margin: 6px 0 6px 0;
  }

  .date {
    color: gray;
    font-size: 12px;
  }
}
