.login-form {
  border: 1px solid #dbdbdb;
  background-color: white;
  height: 400px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 180px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      padding: 9px 6px;
      width: 270px;
      border-radius: 3px;
      border-style: solid;
      border: 1px solid #dbdbdb;
      background-color: #f4f4f4;
    }

    .email-input {
      margin: 30px 0 10px 0;
    }

    .btn-submit {
      margin: 10px 0 0px 0;
      background-color: #4285f4;
      border-radius: 6px;

      color: white;
      font-size: 15px;
    }
  }

  .divider-line {
    width: 270px;
    height: 1px;
    background-color: darkgray;
    //background-color: red;
    margin: 24px 0 24px 0;
  }

  .to-signup {
    a {
      color: #0095f6;
      text-decoration: none;
    }
  }
}
