.info-section {
  margin: 54px auto 0 auto;
  padding: 40px 60px;
  border-bottom: 1px solid lightgray;
  max-width: 900px;

  .backdrop-follow-list {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

    .profile-img {
      position: relative;
      width: 250px;
      height: 150px;

      img {
        object-fit: cover;
        object-position: center; /* Center the image within the element */
        width: 150px;
        height: 150px;
        border-radius: 100px;
        border: 1px solid lightgray;
      }

      .img-uploading {
        opacity: 0.5;
      }

      .profile-image-upload {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;

        input {
          width: 100%;
          width: 150px;
          height: 150px;
          opacity: 0;

          &:hover {
            cursor: pointer;
          }
          // overflow: hidden;
        }
      }
    }

    .info-container {
      // border: 1px solid black;
      width: 540px;

      .username-edit-profile {
        display: flex;
        align-items: center;
        margin: 6px 0 6px 0;

        .username {
          font-size: 28px;
        }

        .info-btn {
          color: black;
          text-decoration: none;
          margin-left: 18px;
          padding: 3px 6px;
          border: 1px solid lightgray;
          border-radius: 4px;
          font-size: 14px;

          &:hover {
            cursor: pointer;
          }
        }

        .follow-btn {
          background-color: #0095f6;
          border: 1px solid #0095f6;
          color: #fff;
        }
      }

      .posts-followers-following-count {
        display: flex;
        align-items: center;
        margin: 9px 0 6px 0;
        font-size: 18px;

        .posts-count,
        .followers-count {
          margin-right: 21px;
        }

        .cursor-pointer {
          &:hover {
            cursor: pointer;
          }
        }
      }

      .name-bio {
        .name {
          margin: 30px 0 0 0;
        }

        .bio {
          margin: 0px 0 6px 0;
        }
      }
    }
  }

  .info-container-mobile {
    display: none;
  }
}

@media (max-width: 700px) {
  .info-section {
    // height: 500px;
    padding: 20px 15px 0 15px;

    .top-container {
      align-items: center;

      .profile-img {
        width: 100px;
        height: 100px;

        img {
          width: 100px;
          height: 100px;
        }

        .profile-image-upload {
          width: 100px;
          height: 100px;

          input {
            width: 100%;
            width: 100px;
            height: 100px;
          }
        }
      }

      .info-container {
        display: flex;
        align-items: center;

        .username-edit-profile {
          display: flex;
          flex-direction: column;
          align-items: unset;
          // margin: 6px 0 6px 0;
          justify-content: space-around;
          height: 100px;
          padding-left: 20px;

          .username {
            font-size: 21px;
            // margin-bottom: 10px;
          }

          .info-btn {
            color: black;
            text-decoration: none;
            margin-left: 0;
            text-align: center;
            padding: 6px 6px;
            width: 100%;
          }

          .follow-btn {
            color: #fff;
          }
        }

        .posts-followers-following-count {
          display: none;
        }

        .name-bio {
          display: none;
        }
      }
    }

    .info-container-mobile {
      display: block;
      margin-top: 18px;

      .posts-followers-following-count-mobile {
        // border: 1px solid darkgray;
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
