.profile-post-container {
  margin: 40px auto 40px auto;
  max-width: 900px;
  // display: flex;
  // justify-content: space-between;

  .profile-post-container-row {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 15px;
  }

  .backdrop-post-details {
    //
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 917px) {
  .profile-post-container {
    max-width: 600px;

    .profile-post-container-row {
      justify-content: space-between;
    }
  }
}

@media (max-width: 610px) {
  .profile-post-container {
    width: 100%;

    .profile-post-container-row {
      justify-content: center;
    }
  }
}
