.comments-container {
  //background-color: yellowgreen;
  height: 378px;
  padding-top: 18px;
  border-bottom: 1px solid lightgray;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}
