.btn {
  width: 63px;
  height: 30px;
  color: white;
  padding: 2px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0095f6;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}
