.write-comment-container {
  // background-color: peru;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .comment-input {
      resize: none;
      width: 80%;
      max-height: 40px;
      overflow: auto;
      border: none;

      &:focus {
        outline: none;
      }
    }

    .latest {
      width: 90%;
    }

    .one-row {
      height: 18px;
    }

    .two-rows {
      height: 36px;
    }

    .three-rows {
      height: 54px;
    }

    .submit-comment {
      border: none;
      background: white;

      font-weight: bold;
      font-size: 14px;
      margin-left: 3px;

      &:focus {
        outline: none;
      }
    }

    .enabled {
      color: rgb(0, 149, 246);

      &:hover {
        cursor: pointer;
      }
    }

    .disabled {
      color: rgba(0, 149, 246, 0.5);
    }
  }
}
