.dropdown {
  position: absolute;
  width: 150px;
  height: 72px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  right: 12px;
  top: 54px;
  display: flex;
  flex-direction: column;

  .dropdown-link {
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #262626;
    text-decoration: none;
    height: 100%;
    width: 100%;

    &:hover {
      background-color: #f4f4f4;
      cursor: pointer;
    }
  }
}
