.comments {
  //background-color: red;
  padding: 0 12px 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .comments-text {
    .username-link {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .fa-heart {
    font-size: 12px;
    color: #8e8e8e;

    &:hover {
      &::before {
        cursor: pointer;
      }
    }
  }
}
