.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 54px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 60;
  background: white;

  .navbar-conainer {
    height: 100%;
    display: flex;
    // background-color: blue;
    width: 950px;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;

    .home-img-container {
      width: 150px;
      .home-img {
        width: 120px;
      }
    }

    .search-box {
      position: relative;
      width: 200px;

      .search-box-form {
        width: 100%;

        input {
          width: 100%;
          padding: 5px 10px;
          text-align: center;

          &:focus {
            outline: none;
            text-align: left;
          }
        }
      }

      .search-results {
        position: absolute;
      }
    }

    .profile-img-container {
      width: 150px;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      .profile {
        position: absolute;
        right: 0;
        width: 36px;
        height: 36px;
        border-radius: 35px;
        object-fit: cover;
        object-position: center; /* Center the image within the element */
        border: 1px solid black;
        padding: 3px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .login-signup {
      display: flex;

      .login,
      .signup {
        width: 63px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }
      }

      .login {
        color: white;
        padding: 2px 6px;
        background-color: #0095f6;
        border-radius: 3px;
      }

      .signup {
        margin-left: 10px;
        color: #0095f6;
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    .navbar-conainer {
      .home-img-container {
        width: 90px;
        .home-img {
          width: 90px;
        }
      }

      .search-box {
        width: 90px;
      }

      .profile-img-container {
        width: 90px;
      }

      .login-signup {
        .login,
        .signup {
          width: 50px;
          font-size: 12px;
        }
      }
    }
  }
}
