.author-container {
  // background-color: yellow;
  border-bottom: 1px solid lightgray;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .author-info {
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    .author-img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      border: 1px solid lightgray;
    }

    .margin-right {
      margin-right: 12px;
    }

    .username-link {
      text-decoration: none;
      color: black;
    }
  }

  .delete {
    margin-right: 12px;

    &:hover {
      cursor: pointer;
    }

    .fa-spinner {
      animation: spin 2s linear infinite;

      &:hover {
        cursor: default;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.latest {
  height: 60px;
}
